@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.padding-top {
  @apply pt-6 md:pt-12 p-2.5 md:p-0;
}
.padding-top-much {
  @apply pt-6 md:pt-24 p-2.5 md:p-0;
}
.margin-top {
  @apply mt-6 md:mt-12;
}
